body {
  margin: 0;
  font-family: system-ui;
  background: #0a0a0a;
  color: white;
}

.topbar {
  position: sticky;
  top: 0;
  background: rgba(17,24,39,0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #1f2937;
}

.topbar a {
  color: #aaa;
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 15px;
}

.card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 14px;
  padding: 14px;
  margin-top: 14px;
}

input, textarea, select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #0f172a;
  border: 1px solid #1f2937;
  color: white;
  border-radius: 10px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 11px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

img.post-img {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

.user {
  font-size: 13px;
  opacity: 0.7;
}