body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

select, button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c853;
  color: white;
  cursor: pointer;
}